.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.btn-custom{
  border: 1px solid white;
  border-radius: 10px;
  font-size: 19px;
}
/* .Page{
  height: 65vh;
  padding-top: 45px;
 
} */
.authCotainer{
  /* background-image: url('./imageedit_1_2870385803.jpg');
  background-size: cover; */
  width: 100vw;
  padding-top: 10vh;
    padding-left: 27vw;
/* height: 92vh; */
padding-bottom: 4vh;
}
.imgSingup{
  
  width: 25vw;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

}
.imgLogin{
  
  width: 25vw;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}
/* .pageStyle{
  background-image: url("./signup.jpg");
  background-size: cover;
  border-top-left-radius: 10px;
  width: 350px;
  border-bottom-left-radius: 10px;
  height: 65vh;
} */
.pageStyle{
  width: 25vw;
  /* height: 65vh; */
}
.loginStyle{
  width: 25vw;
  /* height: 56vh; */
}
.main-bg{
  width: 100vw;
  min-height: 100vh;
  background-image: url('./imageedit_1_2870385803.jpg');
  background-size: cover;
}
.signupCard{

  border-radius: 10px;
  padding: 0px;
  width: 51vw;
  /* height: 65vh; */
  background-color: white;
}
.loginCard{

  border-radius: 10px;
  padding: 0px;
  width: 50vw;
  /* height: 56vh; */
  background-color: white;
}
.singUpCredential{
  /* padding-top: 30px;
  padding-left: 30px; */
  padding: 15px;
  width: 100%;
}
.loginCredential{
  /* padding-top: 30px;
  padding-left: 30px;
  width: 25vw;
  padding-right: 8px; */
  padding: 15px;
  width: 100%;
}
.buttonAudio{
  /* background-color: black; */
  color:white;
  /* margin-top: 20px; */
  font-size: 20px;
  /* padding: 4px;
  border-radius: 10px;
  margin-bottom: 10px; */
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
